

.gf2{	/* menu name */
font-family: 'Signika Negative', sans-serif;
font-size: 22px;
}
.gf3{	/* menu Official WebSite */
font-family: 'Pacifico', cursive;
font-size: 16px;
}
.gf4{	/* menu Feedback */
font-family: 'Merienda', cursive;
font-size: 16px;
}
.gf5{	/* menu Prof. Ashish K. */
font-family: 'Sniglet', cursive;
font-size: 18px;
}
.gf6{	/* menu StatusHoToAisa.com */
font-family: 'Special Elite', cursive;
font-size: 16px;
}
.gf7{	/* menu Art Gallary */
font-family: 'Rancho', cursive;
font-size: 20px;
}
.gf8{	/* Since 2013 */
font-family: 'Sniglet', cursive;
font-size: 32px;
}
.gf9{	/* SoftWare & Web-Application */
font-family: 'Doppio One', sans-serif;
font-size: 62px;
}
.gf10{	/* Since 2013 */
font-family: 'Aladin', cursive;
font-size: 42px;
}
.gf11{	/* Don't Panic... Think Practical !!! */
font-family: 'Satisfy', cursive;
font-size: 32px;
}
.gf12{	/* CEO : Ashish Sondagar */
font-family: 'Merienda One', cursive;
font-size: 28px;
}

.gf13{	/* - : About :- */
font-family: 'Montserrat Subrayada', sans-serif;
font-size: 36px;
}
.gf14{	/* About > para */
font-family: 'La Belle Aurore', cursive;
font-size: 28px;
}
.gf14b{	/* About > para */
font-family: 'Satisfy', cursive;
font-size: 28px;
}
.gf15{	/* menu text  */
font-family: 'Share Tech', sans-serif;
font-size: 18px;
}

.gf16{	/* title: SoftWare / Web-Application  */
font-family: 'Averia Libre', cursive;
font-size: 18px;
}
.gf17{	/* SoftWare */
font-family: 'Denk One', sans-serif;
font-size: 32px;
}
.gf18{	/* Web-Application */
font-family: 'Delius Swash Caps', cursive;
font-size: 32px;
}
.gf19{	/* YouTube:Videos */
font-family: 'Magra', sans-serif;
font-size: 32px;
}

.gf21{	/* Service Name */
font-family: 'VT323', monospace;
font-size: 52px;
}
.gf22{	/* Service Name */
font-family: 'Marck Script', cursive;
font-size: 42px;
}
.gf23{	/* Service Name */
font-family: 'Frijole', cursive;
font-size: 32px;
}
.gf24{	/* Service Name */
font-family: 'Damion', cursive;
font-size: 42px;
}
.gf25{	/* Service Name */
font-family: 'Bungee Shade', cursive;
font-size: 42px;
}
.gf26{	/* Service Name */
font-family: 'Trade Winds', cursive;
font-size: 34px;
}
.gf27{	/* Service Name */
font-family: 'Wallpoet', cursive;
font-size: 38px;
}
.gf28{	/* Service Name */
font-family: 'Rock Salt', cursive;Baumans
font-size: 38px;
}
.gf29{	/* Service Name */
font-family: 'Jockey One', sans-serif;
font-size: 42px;
text-shadow: 0 0 3px white;
}
.gf30{	/* Service Name */
font-family: 'Contrail One', cursive;
font-size: 22px;
}

.fsha2{
color: white;
text-shadow: 2px 2px 3px black, 2px -2px 3px black, -2px 2px 3px black, -2px -2px 3px black;
}

.gf31{	/* Service content Name */
font-family: 'Baumans', cursive;

font-size: 30px;
}
.gf32{	/* Service content Name */
font-family: 'Averia Sans Libre', cursive;
font-size: 32px;
}
.gf33{	/* Service content Name */
font-family: 'Shojumaru', cursive;
font-size: 28px;
}
.gf34{	/* Service content Name */
font-family: 'Kaushan Script', cursive;
font-size: 32px;
}
.gf35{	/* Service content Name */
font-family: 'Trade Winds', cursive;
font-size: 32px;
text-shadow: 0 0 3px #24AAE3, 0 0 5px #24AAE3, 0 0 10px #24AAE3, 0 0 15px #24AAE3, 0 0 20px #24AAE3, 0 0 25px #24AAE3, 0 0 35px #24AAE3;
}
.gf36{	/* Service content Name */
font-family: 'Marck Script', cursive;
font-size: 34px;
}
.gf37{	/* Service content Name */
font-family: 'Audiowide', cursive;
font-size: 32px;
}
.gf38{	/* Service content Name */
font-family: 'Finger Paint', cursive;
font-size: 28px;
}
.gf39{	/* Service content Name */
font-family: 'Sniglet', cursive;
font-size: 32px;
}

.gf31b{	/* Service content Name */
font-family: 'Chau Philomene One', sans-serif;
font-size: 28px;
text-shadow: 2px 0px 3px black, 0px 2px 3px black;
}